- В далеком XIX веке в Лондоне была эпидемия холеры
- В те времена считалось, что холера передается воздушно-капельным путем
- Но один ученый заподозрил, что это не так. Кол-во заболеваний не уменьшалось при соблюдении всех мер предосторожности при такой передаче заболевания
- Ученого звали John Snow ([Snow 1855](https://mixtape.scunning.com/references.html#ref-Snow1854))
- Разберем его идею к дизайну эксперимента

**Нулевая гипотеза: холера передается водоснабжением**

- Как бы это проверяли, если бы имели бесконечные ресуры? Опишите идеальный эксперимент.

Можно было бы провести AB-тест: 
- Разделить людей на 2 группы (при этом люди в группах должны быть однородны: одинаковое количество женщин/мужчин, стариков/детей и т.д).
- Первая группа будет пить воду из загрязненного источника, а вторая из чистого. Это жеска((((
- Подсчитать количество заболевших в 2 группах, и если разница окажется стат. значимой, то подтвердится гипотеза о том, что холера передается водоснабжением.

- Но такого сделать мы, конечно, не можем. Однако у нас есть следующая информация
- В 1800-х несколько водоснабжающих компанй обслуживали город. Они все брали воду из Темзы, которая, если верить нашей гипотезе, была зараженной
- Но в 1849 компания Lambeth передвинула свои трубу выше по течению, а компании Southwark и Vauxhall Waterworks Company нет
- Как бы нам это использовать для проверки нашей гипотезы?

Можно использовать потребителей компании Lambeth в качестве контроля (тех, кто пьет чистую воду), а  Southwark и Vauxhall Waterworks в качестве теста (пьют заарженную воду).

- Ниже представлена таблица со смертностью в 1849 г. и 1854 г. для потребителей двух разных компаний

|Компания\Год|1849|1854|
|---|---|---|
|Southwark and Vauxhall|135|147|
|Lambeth|85|19|

- Пусть $Y$ - это смертность
- Пусть $D$ - это влияние чистой воды на смертность от холеры (очевидно, если нулевая гипотеза верна, то это влияние отрицательное)
- Пусть $L$ и $SV$ - это фиксированный эффект\влияние специфичный для каждой из компаний Lambeth и Southwark and Vauxhall, соответственно. Например, у них могут быть разные трубы и\или системы очистки воды

|Компания|Результат|
|---|---|
|Southwark and Vauxhall|$$Y=SV$$|
|Lambeth|$$Y=L+D$$|

- Почему мы не можем просто вычесть из результата Lambeth результат Southwark and Vauxhall?

Для того чтобы оценить воздествие чистой воды (D) нам бы хотелось чтобы тестовая группа отличалась от контроля только этим воздействием (тогда мы можем оценить эффект именно от этого воздействия). В данном же случае тест отличатеся от контроля еще набором факторов, присущим каждой из компаний. Таким образом, даже если мы и выявим разницу между тестом и контролем, то мы не можем сказать, что конкретно привело к этому эффекту (мб люди стали меньше болеть не потому, что пили чистую воду, а у их компаний были другие системы очистки и т.д.)

- Однако, у нас еще есть временные данные
- Пусть $T$ - это некий временной эффект

|Компания|Время|Результат|
|---|---|---|
|Lambeth|До|$$Y=L$$|
||После|$$Y=L+D+T$$|

- Как будет выглядеть эта табличка для Southwark and Vauxhall?
- Чему будет равно $D$ на тех данных, что были выше?

Таблица для Southwark and Vauxhall:

|Компания|Время|Результат|
|---|---|---|
|Southwark and Vauxhall|До|$$Y=SV$$|
||После|$$Y=SV+T$$|

$D$: $D = Y - L - T$

- То, что вы проделали выше называется `DiD` (difference in differences). Это замечательный метод, который позволяет вам контролировать эффект от эксперимента (`treatment`) на какие-то другие переменные
- Он, отнюдь, не ограничивается временным эффектом, но для простоты задания не будет заходить дальше
- Давайте немного формул для понимания того, что было вами проделано. 
    - Вы нашли `D` - эффект, который оказала чистая вода на смертность от холеры. В идеальном мире, мы с вами бы его считали, как $E[Y_{T=1, S=1} - Y_{T=1, S=0}]$, т.е. уровень смертности в один и тот же момент времени ($T=1$) для контрольной ($S=0$) и тестовой ($S=1$) групп. Но, такое не всегда, мягко говоря, возможно.
    - Поэтому вам пришлось изхищряться, чтобы вычленить временной эффект, т.е. вы считали:
    $$D = (E[Y_{T=1}|S=1] - E[Y_{T=0}|S=1]) - (E[Y_{T=1}|S=0] - E[Y_{T=0}|S=0])$$
    - Это, конечно, замечательное число, но значимо ли оно? На этот вопрос нам с вами поможет ответить, в частности, простая линейная регрессия с дамми/бинарными переменными: $\hat{y} = \hat{\beta_0} + \hat{\beta_1} \cdot T + \hat{\beta_2} \cdot S + \hat{\beta_3} \cdot T \cdot S$
    - Если мы с вами посмотрим на $\beta_0$, то при $T=0, S=0 \rightarrow \hat{y} = \hat{\beta_0} \rightarrow E[y|T=0, S=0] = \hat{\beta_0}$ 
    - Хм, а если у нас $T=1, S=0 \rightarrow \hat{y} = \hat{\beta_0} + \hat{\beta_1} \rightarrow \hat{\beta_1} = \hat{y} - \hat{\beta_0} = E[y|T=1, S=0] - E[y|T=0, S=0]$
    - А если $T=0, S=1 \rightarrow \hat{y} = \hat{\beta_0} + \hat{\beta_2} \rightarrow \hat{\beta_2} = \hat{y} - \hat{\beta_0} = E[y|T=0, S=1] - E[y|T=0, S=0]$
    - А если 
    $$T=1, S=1 \rightarrow \hat{y} = \hat{\beta_0} + \hat{\beta_1} + \hat{\beta_2} +\hat{\beta_3} \rightarrow \\
    E[y|T=1, S=1] = E[y|T=0, S=0] + (E[y|T=1, S=0] - E[y|T=0, S=0]) + (E[y|T=0, S=1] - E[y|T=0, S=0]) +\hat{\beta_3} \rightarrow \\
    \hat{\beta_3} = (E[y|T=1, S=1] - E[y|T=0, S=1]) - (E[y|T=1, S=0] - E[y|T=0, S=0])$$
    - А вот и наш эффект, который мы так хотели посчитать и проверить на стат. значимость. Думаю, что вы уже знаете, как проверять стат. значимость коэффициентов линейной регрессии.

- Перейдем к чему-то с данными
- Надо понять маркетинговый эффект от рекламы на билбордах на увеличение депозитов ($\text{deposits}$) с мая ($JUL = 0$) по июль ($JUL = 1$)
- Всего есть 3 билборда в городе Porto Alegre ($POA = 1$) и никаких наших билбордов в городе Florianopolis ($POA = 0$)
- Посчитайте эффект от рекламы и проверьте его на значимость

In [1]:
import pandas as pd
import numpy as np
import statsmodels.formula.api as smf

In [2]:
data = pd.read_csv("HW_001_003.csv")
data.head()

   deposits  poa  jul
0        42    1    0
1         0    1    0
2        52    1    0
3       119    1    0
4        21    1    0

Добавим еще 1 переменную, соответствующую одновременному появлению 1 в $POA$ и $JUL$ ($T \cdot S$ из примера выше) и рассчитаем эффект для нее (это и будет искомый эффект от рекламы):

In [3]:
data['poa_and_jul'] = data['poa']*data['jul']
data.head()

   deposits  poa  jul  poa_and_jul
0        42    1    0            0
1         0    1    0            0
2        52    1    0            0
3       119    1    0            0
4        21    1    0            0

In [4]:
data.groupby(['poa', 'jul']).mean()

           deposits  poa_and_jul
poa jul
0   0    171.642308          0.0
    1    206.165500          0.0
1   0     46.016000          0.0
    1     87.063750          1.0

In [5]:
effect = (87.063750 - 46.016000) - (206.165500 - 171.642308)
effect

6.524558000000006

Видим, что получили положительный эффект - посмотрим стат. значим ли он:

In [6]:
model = smf.ols('deposits ~ poa + jul + poa_and_jul', data=data).fit()
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:               deposits   R-squared:                       0.313
Model:                            OLS   Adj. R-squared:                  0.312
Method:                 Least Squares   F-statistic:                     696.7
Date:                Fri, 09 Sep 2022   Prob (F-statistic):               0.00
Time:                        15:50:28   Log-Likelihood:                -26973.
No. Observations:                4600   AIC:                         5.395e+04
Df Residuals:                    4596   BIC:                         5.398e+04
Df Model:                           3
Covariance Type:            nonrobust
===============================================================================
                  coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------
Intercept     171.6423      2.363     72.625      0.000     167.009     176.276
poa          -125.6263      4.484    -28.015      0.000    -134.418    -116.835
jul            34.5232      3.036     11.372      0.000      28.571      40.475
poa_and_jul     6.5246      5.729      1.139      0.255      -4.706      17.755
==============================================================================
Omnibus:                      184.879   Durbin-Watson:                   1.964
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              257.379
Skew:                          -0.400   Prob(JB):                     1.29e-56
Kurtosis:                       3.838   Cond. No.                         7.24
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

Видим, что pvalue > $\alpha=0.05$ => выявленный положительный эффект от рекламы не является стат. значимым.